.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 32px 16px 32px;
	border: none;
	border-radius: 12px;
	background: rgb(123, 110, 246);
	cursor: pointer;
	transition: background linear 0.5s;
}

.button:hover {
	background: rgb(150, 139, 247);
}
.auth-panel__auth-button {
	width: 180px;
}
