.films__cardButton {
	position: relative;
	border-radius: 12px;
	background: rgba(32, 40, 62, 0.8);
	border: none;
	transition: background linear 0.5s;
	padding: 8px 8px 16px 8px;
	cursor: pointer;
}

.films__cardButton:hover {
	background: rgba(66, 78, 110, 0.8);
}
