.search-panel__search-form {
	position: relative;
	display: flex;
	justify-content: start;
	gap: 8px;
}

.search-panel__search-icon {
	position: absolute;
	left: 16px;
	top: 19px;
}

.search-panel__search-form > input {
	border: 1px solid rgb(50, 59, 84);
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 24px 10px 24px 56px;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
}

.search-panel__search-form > input::placeholder {
	color: rgb(71, 80, 105);
}
