.searchPanel__icon {
	position: absolute;
	left: 16px;
	top: 19px;
}
.searchPanel__title {
	margin-bottom: 0px;
	color: rgb(235, 238, 245);
	font-size: 64px;
	font-weight: 600;
	line-height: 80px;
	text-align: left;
}
.main__searchPanel {
	width: 588px;
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
}

.main__films {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
